@media screen and (min-width: 320px) {
    #ombraSfondo {
        width: 100%;
        min-height: 100vh;
        background-color: rgba(0, 0, 0, 0.9);

        .card {
            margin: 20px 0;

            p {
                font-size: 0.8rem !important;
            }
        }
    }
}

@media screen and (min-width: 768px) {
    #ombraSfondo {
        .card {

            p {
                font-size: 1rem !important;
            }
        }
    }
}