<app-navbar></app-navbar>
<div id="ombraSfondo" class="d-flex flex-column align-items-center">
    <button id="buttonIndietro" class="mt-3 btn btn-success" type="button" [routerLink]="['/lista-ordini']">Indietro</button>
    <div id="popupEliminaOrdine" class="popupEliminaOrdine inattivo">
        <p>Ordine eliminato correttamente!</p>
        <button class="btn btn-success d-block m-auto mt-2" type="button" [routerLink]="'/lista-ordini'">Vedi lista
            degli ordini aggiornata</button>
    </div>
    <div id="contenitoreEliminazione" class="ms-2 card w-75 mt-3 p-2">
        <p>ID: {{ordineDaEliminare.id}}</p>
        <p>Data ordine: {{ordineDaEliminare.dataOrdine}}</p>
        <p>Cliente ordine: {{ordineDaEliminare.cliente}}</p>
        <p class="text-danger" *ngIf="utenteCorrenteRegistrato.roles.length < 2">NON SEI AUTORIZZATO AD INTERAGIRE CON QUESTA FUNZIONE</p>
        <p *ngIf="utenteCorrenteRegistrato.roles.length > 1">Vuoi eliminare definitivamente quest'ordine?</p>
        <div class="d-flex justify-content-center">
            <button class="btn btn-danger" type="button" (click)="eliminaOrdineDef(ordineDaEliminare.id)" *ngIf="utenteCorrenteRegistrato.roles.length > 1">Elimina</button>
        </div>
    </div>
</div>