@media screen and (min-width: 320px) {
    .navbar {
        background-color: #323538;

        .contenitore {

            #navbarNavDropdown {

                ul {

                    li {

                        a {
                            font-size: 0.8rem !important;
                        }
                    }
                }
            }
        }
    }

    #ombraSfondo {
        position: relative;
    }
}

@media screen and (min-width: 992px) {
    .navbar {

        .contenitore {
            width: unset !important;
        }
    }
}