<app-navbar></app-navbar>
<div id="ombraSfondo" class="d-flex flex-column align-items-center">
    <button class="mt-3 btn btn-success" type="button" [routerLink]="['/lista-ordini']">Indietro</button>
    <div class="card w-75">
        <p class="ms-2 mt-3">Id: {{ordine.id}}</p>
        <p class="ms-2 mt-3">Data ordine: {{ordine.dataOrdine}}</p>
        <p class="ms-2 mt-3">Cliente: {{ordine.cliente}}</p>
        <p class="ms-2 mt-3 fw-bold">Importo ordine: {{importoOrdine}} euro</p>
        <h2 class="ms-2 mt-3">Prodotti acquistati:</h2>
        <div *ngFor="let prodottoAcquistato of listaProdottiAcquistatiDettaglioComp"
            class="align-items-center border border-start-0 border-end-0">
            <p class="ms-2 mt-3">Nome: {{prodottoAcquistato.nome}}</p>
            <p class="ms-2">Categoria: {{prodottoAcquistato.categoriaProdotto}}</p>
            <p class="ms-2">Prezzo singolo pezzo: {{prodottoAcquistato.prezzoSingolo}} euro</p>
            <p class="ms-2">Numero pezzi acquistati: {{prodottoAcquistato.numeroPezziAcquistati}}</p>
            <p class="ms-2">Costo parziale: {{prodottoAcquistato.prezzoSingolo *
                prodottoAcquistato.numeroPezziAcquistati}}</p>
        </div>
    </div>
</div>