body {
    position: relative;
}

@media screen and (min-width: 320px) {
    #ombraSfondo {
        width: 100%;
        min-height: 100vh;
        background-color: rgba(0, 0, 0, 0.9);

        #contenitoreFormRegister {
            background-color: #2e2e2e;
            width: 70%;

            .campoVuoto {
                font-size: 0.7rem !important;
                margin-bottom: 20px !important;
            }
        }
    }

    .popupInserimentoCustom {
        width: 60%;
        padding: 20px;
        border: 1px solid green;
        background-color: #fff;
        border-radius: 10px;
        filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.6));
        position: absolute;
        left: 20%;
        right: 20%;
        top: 40%;
        z-index: 10;

        p {
            margin: unset;
            color: green;
            font-size: 1.5rem !important;
            text-align: center;
        }
    }

    .inattivo {
        display: none !important;
    }
}

@media screen and (min-width: 560px) {
    #ombraSfondo {
        #contenitoreFormRegister {
            width: 50%;
        }
    }
}

@media screen and (min-width: 1024px) {
    #ombraSfondo {
        #contenitoreFormRegister {
            width: 30%;
        }
    }
}