<app-navbar></app-navbar>
<div id="ombraSfondo" class="d-flex flex-column align-items-center">
    <button class="mt-3 btn btn-success" type="button" [routerLink]="['/lista-prodotti']">Indietro</button>
    <div id="popupRifornimentoProdotto" class="popupRifornimentoProdotto inattivo">
        <p>Prodotto rifornito correttamente!</p>
        <button class="btn btn-success d-block m-auto mt-2" type="button" [routerLink]="'/lista-prodotti'" >Vedi lista dei prodotti aggiornata</button>
    </div>
    <div id="contenitoreFormRifornimento" class="card w-75 mt-3">
        <h1 id="h1RifornimentoProdotto" class="ms-2 mt-2">Rifornisci il prodotto</h1>
        <div class="mt-2" *ngIf="categoriaRilevata == 'Racchette'">
            <form class="d-flex flex-column justify-content-center flex-xl-row align-items-xl-center p-2" #formRifornimentoRacchetta="ngForm" (ngSubmit)="rifornisciRacchetta(formRifornimentoRacchetta)">
                <p class="mb-1 mb-xl-0">Di quanti pezzi vuoi rifornire la racchetta "{{racchettaDaRifornire.nome}}"?</p>
                <input (keyup)="verificaCampiVuoti()" (keyup)="verificaNumeriNegativiInput()" class="p-1 border border-secondary rounded-2 mb-2 mb-xl-0" type="number" name="numeroPezziDaRifornire" id="numeroPezziDaRifornire" placeholder="Es. 5" min="1">
                <button disabled class="btn btn-success ms-xl-2" type="submit" id="buttonRifornisciProdotto" *ngIf="utenteCorrenteRegistrato.roles.length > 1">Procedi</button>
            </form>
            <p class="ms-2 text-danger" *ngIf="utenteCorrenteRegistrato.roles.length < 2">NON SEI AUTORIZZATO AD INTERAGIRE CON QUESTA FUNZIONE</p>
            <p class="text-danger numeroNegativo ms-2" *ngIf="alertNumeroNegativo == true">Hai inserito un numero negativo. Correggi.</p>
        </div>
        <div class="mt-2" *ngIf="categoriaRilevata == 'Palline'">
            <form class="d-flex flex-column justify-content-center flex-xl-row align-items-xl-center p-2" #formRifornimentoPalline="ngForm" (ngSubmit)="rifornisciPalline(formRifornimentoPalline)">
                <p class="mb-1 mb-xl-0">Di quanti pezzi vuoi rifornire il tubo di palline "{{tuboPallineDaRifornire.nome}}"?</p>
                <input (keyup)="verificaCampiVuoti()" (keyup)="verificaNumeriNegativiInput()" class="p-1 border border-secondary rounded-2 mb-2 mb-xl-0" type="number" name="numeroPezziDaRifornire" id="numeroPezziDaRifornire" placeholder="Es. 5" min="1">
                <button disabled class="btn btn-success ms-xl-2" type="submit" id="buttonRifornisciProdotto" *ngIf="utenteCorrenteRegistrato.roles.length > 1">Procedi</button>
            </form>
            <p class="ms-2 text-danger" *ngIf="utenteCorrenteRegistrato.roles.length < 2">NON SEI AUTORIZZATO AD INTERAGIRE CON QUESTA FUNZIONE</p>
            <p class="text-danger numeroNegativo ms-2" *ngIf="alertNumeroNegativo == true">Hai inserito un numero negativo. Correggi.</p>
        </div>
        <div class="mt-2" *ngIf="categoriaRilevata == 'Corde'">
            <form class="d-flex flex-column justify-content-center flex-xl-row align-items-xl-center p-2" #formRifornimentoCorde="ngForm" (ngSubmit)="rifornisciCorde(formRifornimentoCorde)">
                <p class="mb-1 mb-xl-0">Di quanti pezzi vuoi rifornire la corda "{{cordaDaRifornire.nome}}"?</p>
                <input (keyup)="verificaCampiVuoti()" (keyup)="verificaNumeriNegativiInput()" class="p-1 border border-secondary rounded-2 mb-2 mb-xl-0" type="number" name="numeroPezziDaRifornire" id="numeroPezziDaRifornire" placeholder="Es. 5" min="1">
                <button disabled class="btn btn-success ms-xl-2" type="submit" id="buttonRifornisciProdotto" *ngIf="utenteCorrenteRegistrato.roles.length > 1">Procedi</button>
            </form>
            <p class="ms-2 text-danger" *ngIf="utenteCorrenteRegistrato.roles.length < 2">NON SEI AUTORIZZATO AD INTERAGIRE CON QUESTA FUNZIONE</p>
            <p class="text-danger numeroNegativo ms-2" *ngIf="alertNumeroNegativo == true">Hai inserito un numero negativo. Correggi.</p>
        </div>
        <div class="mt-2" *ngIf="categoriaRilevata == 'Magliette'">
            <form class="d-flex flex-column justify-content-center flex-xl-row align-items-xl-center p-2" #formRifornimentoMagliette="ngForm" (ngSubmit)="rifornisciMagliette(formRifornimentoMagliette)">
                <p class="mb-1 mb-xl-0">Di quanti pezzi vuoi rifornire la maglietta "{{magliettaDaRifornire.nome}}"?</p>
                <input (keyup)="verificaCampiVuoti()" (keyup)="verificaNumeriNegativiInput()" class="p-1 border border-secondary rounded-2 mb-2 mb-xl-0" type="number" name="numeroPezziDaRifornire" id="numeroPezziDaRifornire" placeholder="Es. 5" min="1">
                <button disabled class="btn btn-success ms-xl-2" type="submit" id="buttonRifornisciProdotto" *ngIf="utenteCorrenteRegistrato.roles.length > 1">Procedi</button>
            </form>
            <p class="ms-2 text-danger" *ngIf="utenteCorrenteRegistrato.roles.length < 2">NON SEI AUTORIZZATO AD INTERAGIRE CON QUESTA FUNZIONE</p>
            <p class="text-danger numeroNegativo ms-2" *ngIf="alertNumeroNegativo == true">Hai inserito un numero negativo. Correggi.</p>
        </div>
        <div class="mt-2" *ngIf="categoriaRilevata == 'Pantaloncini'">
            <form class="d-flex flex-column justify-content-center flex-xl-row align-items-xl-center p-2" #formRifornimentoPantaloncini="ngForm" (ngSubmit)="rifornisciPantaloncini(formRifornimentoPantaloncini)">
                <p class="mb-1 mb-xl-0">Di quanti pezzi vuoi rifornire il pantaloncino "{{pantaloncinoDaRifornire.nome}}"?</p>
                <input (keyup)="verificaCampiVuoti()" (keyup)="verificaNumeriNegativiInput()" class="p-1 border border-secondary rounded-2 mb-2 mb-xl-0" type="number" name="numeroPezziDaRifornire" id="numeroPezziDaRifornire" placeholder="Es. 5" min="1">
                <button disabled class="btn btn-success ms-xl-2" type="submit" id="buttonRifornisciProdotto" *ngIf="utenteCorrenteRegistrato.roles.length > 1">Procedi</button>
            </form>
            <p class="ms-2 text-danger" *ngIf="utenteCorrenteRegistrato.roles.length < 2">NON SEI AUTORIZZATO AD INTERAGIRE CON QUESTA FUNZIONE</p>
            <p class="text-danger numeroNegativo ms-2" *ngIf="alertNumeroNegativo == true">Hai inserito un numero negativo. Correggi.</p>
        </div>
        <div class="mt-2" *ngIf="categoriaRilevata == 'Borsoni'">
            <form class="d-flex flex-column justify-content-center flex-xl-row align-items-xl-center p-2" #formRifornimentoBorsoni="ngForm" (ngSubmit)="rifornisciBorsoni(formRifornimentoBorsoni)">
                <p class="mb-1 mb-xl-0">Di quanti pezzi vuoi rifornire il borsone "{{borsoneDaRifornire.nome}}"?</p>
                <input (keyup)="verificaCampiVuoti()" (keyup)="verificaNumeriNegativiInput()" class="p-1 border border-secondary rounded-2 mb-2 mb-xl-0" type="number" name="numeroPezziDaRifornire" id="numeroPezziDaRifornire" placeholder="Es. 5" min="1">
                <button disabled class="btn btn-success ms-xl-2" type="submit" id="buttonRifornisciProdotto" *ngIf="utenteCorrenteRegistrato.roles.length > 1">Procedi</button>
            </form>
            <p class="ms-2 text-danger" *ngIf="utenteCorrenteRegistrato.roles.length < 2">NON SEI AUTORIZZATO AD INTERAGIRE CON QUESTA FUNZIONE</p>
            <p class="text-danger numeroNegativo ms-2" *ngIf="alertNumeroNegativo == true">Hai inserito un numero negativo. Correggi.</p>
        </div>
        <div class="mt-2" *ngIf="categoriaRilevata == 'Scarpe'">
            <form class="d-flex flex-column justify-content-center flex-xl-row align-items-xl-center p-2" #formRifornimentoScarpe="ngForm" (ngSubmit)="rifornisciScarpe(formRifornimentoScarpe)">
                <p class="mb-1 mb-xl-0">Di quanti pezzi vuoi rifornire le scarpe "{{scarpeDaRifornire.nome}}"?</p>
                <input (keyup)="verificaCampiVuoti()" (keyup)="verificaNumeriNegativiInput()" class="p-1 border border-secondary rounded-2 mb-2 mb-xl-0" type="number" name="numeroPezziDaRifornire" id="numeroPezziDaRifornire" placeholder="Es. 5" min="1">
                <button disabled class="btn btn-success ms-xl-2" type="submit" id="buttonRifornisciProdotto" *ngIf="utenteCorrenteRegistrato.roles.length > 1">Procedi</button>
            </form>
            <p class="ms-2 text-danger" *ngIf="utenteCorrenteRegistrato.roles.length < 2">NON SEI AUTORIZZATO AD INTERAGIRE CON QUESTA FUNZIONE</p>
            <p class="text-danger numeroNegativo ms-2" *ngIf="alertNumeroNegativo == true">Hai inserito un numero negativo. Correggi.</p>
        </div>
    </div>
</div>